body {
    background-color: rgb(218, 203, 255);
}
  
h1 {
    color: rgb(1, 1, 66);
    margin-left: 20px;
}

h3 {
  text-align: center;
}
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* main {
  display: flex;
  flex-direction: column;
} */

  /* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

#textinfo {
  display: flex;
}

#cities-list{
  flex: 1;
} 
#cities-info{
  flex: 2;
}